<table>
  <tr>
    <th>Id</th>
    <th>Titulo</th>
    <th>Descricao</th>
    <th>Data da notícia</th>
  </tr>
  <% @noticias.each do |n| %>
    <tr>
      <td><%= n.id %></td>
      <td><%= n.titulo %></td>
      <td><%= n.descricao %></td>
      <td><%= n.data %></td>
    </tr>
<% end %>

<div class="streaming">

</div>

<script>
  lastId = <%= @ultima_noticia.id %>;
  jQuery(document).ready(function() {
    setTimeout(function() {
      var source = new EventSource('/stream?last_id='+lastId);
      source.addEventListener('update', function(event) {
        lastId = event.data.id;
        $('.streaming').append(event.data);
      });
    }, 1);
  });
</script>
